@{
    ViewData["Title"] = "First page - Title";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stock Tracker</h1>
    @*<input type="button" class="btn btn-primary" value="Get Stock Info" onclick="GetStockdata()">*@
    @*<input type="button" value="Get Stock Data" onclick="location.href='@Url.Action("GetStockData", "HomeController")'" />*@
    @*<button type="submit" value="Get Stock Data - Test button" onclick="TestButton()">My Button</button>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
