@{
    ViewData["Title"] = "First page - Title";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stock Tracker</h1>
    <p>The purpose of this project is to implement visualization of price changes per day for a specific stock.</p>
    <h2>Next steps</h2>
    <ul>
        <li>
            Display several stocks on the same diagram.
        </li>
        <li>
            Change the interval period for fetched dates dynamically. 
        </li>
    </ul>

</div>
